<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Nomina | Formulario Empleado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">
    <h1>{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Empleado</h1>

    <form method="post" class="mb-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'lista_empleados' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</body>
</html>
